
/*nav items*/
.footers{
    display: flex;
    flex-direction: row;
    }
  
  .footers ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
  }
  
  .footers li{
    margin: 4px 55px;
    background-color: lightblue;
    padding: 8px 18px;
    border-radius: 14px;
  }

  .footers li:hover{
    cursor: pointer;
  }
